@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}
<h2>DUYURULAR</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>İçerik</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.KATEGORI =="Diğer")
        {
            renk = "bg-info text-white";
        }

        if (item.KATEGORI == "Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if (item.KATEGORI == "İletişim")
        {
            renk = "bg-succes text-black";
        }
        if (item.KATEGORI == "Kitapları Geciktirmeyin")
        {
            renk = "bg-danger text-white";
        }
        <tr class="@renk">
            <td>@item.ID</td>
            <td>@item.KATEGORI</td>
            <td>@Convert.ToDateTime(item.TARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Duyuru/DuyuruSil/@item.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Personel/PersonelGetir/@item.ID" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="/Duyuru/DuyuruDetay/@item.ID" class="btn btn-default" style="background-color: lightgray">DETAYLAR</a></td>
        </tr>
    }

</table>
<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>

